{% extends 'base.html.twig' %}

{% block title %}Alaraf-Homepage{% endblock %}

{% block content %}
<h1 class="text-danger mt-5 pt-5"> Welcome to the world of Alaraf{% if app.user %}, {{app.user.firstname}} {% endif %}</h1>
{% endblock %}
