{% extends 'base.html.twig' %}

{% block title %}Hello WorldController!{% endblock %}

{% block content %}
<div class="pt-5 mt-5">
    <H1 class="text-center text-danger mb-3">The world of Alaraf</H1>
<div class="row"><div class="col-6">			<img src="/uploads/alaraf.jpg" alt="alaraf" class="img-fluid">
</div>
<div class="col-6">			<img src="/uploads/alarafp.jpg" alt="alaraf" class="img-fluid">
</div></div>
The 2 maps,
History of the world,
Calendar</div>

{% endblock %}
