{% extends 'base.html.twig' %}

{% block title %}Alaraf-World
{% endblock %}

{% block content %}
	<div class="pt-5 mt-5">
		<H1 class="text-center text-danger mb-3">The world of Alaraf</H1>
		<div class="row">
			<div class="col-6">
				<a href="/uploads/alaraf.jpg" target="_blank"><img src="/uploads/alaraf.jpg" alt="alaraf" class="img-fluid"></a>
			</div>
			<div class="col-6">
            		<a href="/uploads/alarafp.jpg" target="_blank"><img src="/uploads/alarafp.jpg" alt="alaraf" class="img-fluid"></a>

				
			</div>
		</div>
		<h2 class="my-3">History</h2>

		<p>The first traces of civilization in the world of Alaraf are from 4,000 years ago. It is said that the world was created by 2 snake-like entities, Asmodeus and Jaziran, the two snakes of law. The calendar starts 71 years ago when the North Pole was invaded by the eldritch lords due to a group of wizards and sorcerers trying to use the North Pole portal, a gate forever open toward other planes as well as a huge source of magic to communicate with deities across planes. Their objective was to cure the plague that had been spreading on all continents on Alaraf. The entities they managed to contact were from a distant world but who they accepted to help, and sent different kind of bugs across the world to help spread the cure by way of interacting with the word (ex, pollenating flowers, spreading nectar). The insects also played the role of messenger to the Eldritch Lords and what they conveyed to those lords pleased them. Thus, they decided to stay and make this world their own. This was the beginning of the invasion.  </p>
		</div>

{% endblock %}
